body{
    margin: 0 0 0;
    background-color: rgb(100, 13, 32);

}
header{
    display: flex;
    background-color: rgb(100, 13, 32);
}

#v3 img {
    max-width: 100%;
  }
  
  #xh{
    
    height: 15%;
    width: 8%;
    position: absolute;
    left: 45%;
    top: 15%;
    bottom: 150%;
  }
  #iy {
    
    height: 15%;
    width: 7%;
    position: absolute;
    left: 60%;
    top: 17%;
    bottom: 150%;
  }
  #Sais{
    
    height: 15%;
    width: 7%;
    position: absolute;
    left: 76%;
    top: 17%;
    bottom: 150%;
  }
  #Bouno {
    
    height: 15%;
    width: 7%;
    position: absolute;
    left: 18%;
    top: 14%;
    bottom: 150%;
  }

h1{
    size: 40px;
    width: 30%;
    text-align: right;
    color: white;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 0;
  font-family: cursive ;}
nav{left: 500px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;}
button{padding: 20px;
    font-size: 30px;
    border: 0ch;
    background-color: rgb(100, 13, 32);
    color: rgb(251, 255, 10);}
.dropdown {position: relative;
    display: inline-block;}
#top{
    display: flex;
    flex-direction: column;
    width: 93%;
}
nav{
    left: 500px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;

}
button{
    padding: 20px;
    font-size: 30px;
    border: 0ch;
    background-color: rgb(100, 13, 32);
    color: rgb(251, 255, 10);
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }


.dropdown-content {

    display: none;
    position: absolute;
        min-width: 160px;
        z-index: 1;
       
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: #ddd;

    display: block;
  }
  .dropbtn{
    cursor: pointer;
  }
  
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color:white;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {    background-color:white;
    padding: 10px;
border-radius: 50%;
}

#vo{
    display: flex;
    margin-right: 0;
   
}
#v2{
    width: 22%;
    background-color: rgb(100, 13, 32);
    height: 930px;
    overflow: auto  ;
}
#v2 table{
  width: 80%;
  margin-left: 25px;
  margin-top: 10px;
  border: 5px ;
border-style:outset;
border-radius: 4px;
border-color: rgb(100, 13, 32);

}



#v34{
    display: flex;
    flex-direction: column;
    width: 59%;
}
#v3{
    position: relative;

}
#v3 img{
    height: 450px;
    width: 100%;
}



#v3 #vedio{
    width: 780px;
position: relative;    
}
#v4{
    height: 120%;
background-image: url("coup\ actua.jpg");    
background-size: 920px;
}
#v5{
    width: 22%;
    margin-right: 0;
    overflow: auto;
    background-color: rgb(100, 13, 32);
    height: 930px;
}

#table{
    width: 20%;
    height: 320px;
    margin-left: 5px;
}
.t1{
    margin-top: 10px;
    padding: 7px;
    font-size: large;
    margin-left: 1%;
}
.t2{
    padding: 7px;
    font-size: large;
    color: white;
    background-color: rgb(100, 13, 32);
        border: 1px dotted;
        cursor: pointer;
}
.bt1{
    padding: 15px;
    font-size: large;
     color: white;
     background-color: rgb(100, 13, 32);
     border: 1px dotted;
     cursor: pointer;
}

table{
    background-color: antiquewhite ;
    background-size: 500px;
}
.rows{
    color: #ddd;
}
body{
    background-color: rgb(255, 255, 255);
}


iframe{
    border: none;
}
.im2{
    width: 150px;
    height: 80px;
    display: inline;
    filter: brightness(100%);
    margin-top: 27px;
    margin-right: 24px;
    border-style: dotted;
    border-radius: 30px;
}
p{
    display: inline;
}
li{
    list-style-type: none ;
}
footer h2{
    color: black;}
footer{background-color: rgb(100, 13, 32);
    color: white;
    display: flex;
    height: 160px;
    margin-top: 0;
    margin: 0;}
.titreFotter{
    color: white;}
ul{
   margin-top: 0;
    margin-left: 0;
}
.titrF{
    width: 250px;
    margin-top: 90px;
    font-size: x-large;
    border: 1px dotted;
margin-right: 20px;
border-radius: 20%;
}
.page_A{
    width: 210px;
    border-radius: 20%;
    border: 5px;
    border-style: outset;
    border-color:rgb(100, 13, 32) ;
    transition:transform;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px white;

}
.page_A :hover{
    transform: translateY(-10px);
}

.tx{
    color: white;
    cursor:pointer;
}
.imF{
    margin-top: 30px;
    width: 120px;
    height: 120px;
    margin-left: 5px;
}.t11{
    margin-left: 20%;
margin-top: 15px;
font-size: x-larger;
}


.titrF{
    width: 250px;
    margin-top: 90px;
    font-size: x-large;
    border: 1px dotted;
margin-left: 500px;
border-radius: 20%;
}
.dropbtn a{
    text-decoration: none;
    color: rgb(251, 255, 10);
}
.ronaldo{
    background-color: white;
}
.im3{
    width: 100px;
    height: 50px;
}
 #v2::-webkit-scrollbar{
    width:10px;
 }
#v2 :-webkit-scrollbar-thumb :hover{
        background-color: rgb(0, 0, 0);
}
#v5 .page_A{
transition: transform 0.5;}
#v5 .page_A:hover{
    transform: translateY(-10px);
    
}

