body{
    margin: 0 0 0;
}
header{
    display: flex;
    background-color: rgb(187, 92, 92);
}
img{
    width: 7%;
}
h1{
    size: 40px;
    width: 30%;
    text-align: right;
    color: white;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 0;
  font-family: cursive ;

}
#top{
    display: flex;
    flex-direction: column;
    width: 93%;
}
nav{
    left: 500px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;

}
button{
    padding: 20px;
    font-size: 30px;
    border: 0ch;
    background-color: rgb(187, 92, 92);

}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: red;}
#vo{
    display: flex;
    height: 500px;
    margin-right: 0;
    width: 100%;
}
#v2{
    width: 22%;
}
#v34{
    display: flex;
    flex-direction: column;
    width: 59%;
}
#v3{
    height: 40%;
}
#v4{
    height: 60%;
}
#v5{
    width: 22%;
    margin-right: 0;
}
iframe{
    border: none;
}
img{
    width: 20px;
    height: 20px;
    display: inline;
}
p{
    display: inline;
}
li{
    list-style-type: none ;
}