body{
    margin: 0 0 0;
}
header{
    display: flex;
    background-color: rgb(100, 13, 32);
}
img{
    width: 7%;
}
h1{
    size: 40px;
    width: 30%;
    text-align: right;
    color: white;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 0;
  font-family: cursive ;

}
#top{
    display: flex;
    flex-direction: column;
    width: 93%;
}
nav{
    left: 500px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;

}
button{
    padding: 20px;
    font-size: 30px;
    border: 0ch;
    background-color: rgb(100, 13, 32);
    color: rgb(251, 255, 10);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {    background-color: rgb(184, 181, 182);
    padding: 10px;
border-radius: 50%;}
#vo{
    display: flex;
    height: 500px;
    margin-right: 0;
    width: 100%;
}
#v2{
    width: 22%;
}
#v34{
    display: flex;
    flex-direction: column;
    width: 59%;
}
#v3{
    height: 40%;
}
#v4{
    height: 60%;
}
#v5{
    width: 22%;
    margin-right: 0;
    overflow: auto;
}

#table{
    width: 20%;
    height: 300px;
    margin-left: 5px;
}
.t1{
    margin-top: 10px;
    padding: 7px;
    font-size: large;
    margin-left: 1%;
}
.t2{
    padding: 7px;
    font-size: large;
    color: white;
    background-color: rgb(100, 13, 32);
        border: 1px dotted;
}
.bt1{
    padding: 15px;
    font-size: large;
     color: white;
     background-color: rgb(100, 13, 32);
     border: 1px dotted;
}

table{
    background: url(th.jpg) ;
    background-size: 500px;
}
.rows{
    color: #ddd;
}
body{
    background-color: rgb(255, 255, 255);
}


iframe{
    border: none;
}
im2{
    width: 20px;
    height: 20px;
    display: inline;
}
p{
    display: inline;
}
li{
    list-style-type: none ;
}
footer h2{
    color: black;
}
footer{
    background-color: rgb(100, 13, 32);
    color: white;
    display: flex;
    height: 145px;
    margin-top: 0;
    margin: 0;
}
.titreFotter{
    color: white;
}


ul{
    margin-top: 0;
    margin-left: 0;
}
.page_A{
    width: 220px;
    border: 1px solid blue;
    border-radius: 20%;
}


